[Unit]
Description=RaspDrive loop service
DefaultDependencies=no
After=mnt-mutable.mount mnt-backingfiles.mount

[Service]
Type=simple
ExecStart=/bin/bash /root/bin/usb_loop.sh
Restart=always

[Install]
WantedBy=mnt-backingfiles.mount