[Unit]
Description=RaspDrive usb events
DefaultDependencies=no
After=raspdrive.service

[Service]
Type=simple
ExecStart=/bin/bash /root/bin/event_logger.sh
Restart=always

[Install]
WantedBy=default.target