[Unit]
Description=RaspDrive Python Detect Changes
After=local-fs.target

[Service]
ExecStart=/root/bin/mount_usb.sh
WorkingDirectory=/
Restart=always
User=root
Group=root

[Install]
WantedBy=default.target